


.fade-enter-active, .fade-leave-active {
  transition: opacity 1.5s;
}
  .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
  }
  
  .fade-leave /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 1;
  }
  

  /* Анимации появления и исчезновения могут иметь */
/* различные продолжительности и динамику.       */
.slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active до версии 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }
  



  .list__item {
    display: inline-block;
    margin-right: 10px;
  }
  .list-enter-active, .list-leave-active {
    transition: all 1s;
  }
  .list-enter, .list-leave-to /* .list-leave-active до версии 2.1.8 */ {
    opacity: 0;
    transform: translateY(30px);
  }
  
  
  .flip-list-move {
    transition: transform 1s;
  }

  
  .list-complete-item {
    transition: all 1s;
    display: inline-block;
    margin-right: 10px;
  }
  .list-complete-enter, .list-complete-leave-to
  /* .list-complete-leave-active до версии 2.1.8 */ {
    opacity: 0;
    transform: translateY(30px);
  }
  .list-complete-leave-active/*, .list-complete-enter-active*/ {
    position: absolute;
  //  transition: transform 1s;
  }
  
  .list-complete-enter-to {
  //  position: absolute;
  }
  
  .list-complete-leave-active {
  //  position: absolute;
  }
  
  .list-complete-move {
  //  transition: transform 1s;
  }
  

  .notransition {
    transition: none !important;
  }